body{
    background-color: blueviolet;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    background: url('vt.jpg');
    background-size:1400px;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    overflow-y: scroll;
  }
  body::-webkit-scrollbar {
    display:none;
  }
  .student{
    
    background: #fff;
    margin: 50%;
    max-width: 500px;
    margin:150px auto 0;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 50px;

}
#head{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#regno{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: larger;
    margin-top: 10%;
    padding:20px;
}
#deptno{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: larger;
    margin-top: 10%;
    padding:20px;
}
#roomno{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: larger;
    margin-top: 10%;
    padding:20px;
}
#seatno{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: larger;
    margin-top: 10%;
    padding:20px;
}
button{
    background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  margin-top: 3%;
  margin-left: 30%;
  font-family: Circular,Helvetica,sans-serif;
  font-size:20px;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .505rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}