body{
    background-color: blueviolet;
}
.teacher{
    
    background: #fff;
    margin: 50%;
    max-width: 500px;
    margin:60px auto 0;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 80px;

}
.teacher h1{
        text-align: center;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: -40px;
        padding: 10px;
        margin-bottom: 30px;
        border-bottom: 1px solid #001e4d;
}
#idteach{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: larger;
    margin-top: 10%;
    padding:20px;
}
#passteach{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: larger;
    margin-top: 10%;
    padding:20px;
}
#sub{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: larger;
    margin-top: 10%;
    padding:20px;
}
#process{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: larger;
    margin-top: 30%;
    padding:20px;
}
#teacherId{
    background: #fff;
    color: brown;
    font-weight: 600;
    width: 220px;
    border: 1px solid black;
    font-size: medium;
    padding: 8px;
    margin: 10px 0;
    margin-left: 10px; 
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
}
#Password{
    background: #fff;
    color: brown;
    font-weight: 600;
    width: 220px;
    border: 1px solid black;
    font-size: medium;
    padding: 8px;
    margin: 10px 0;
    margin-left: 10px; 
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
}
#teacherSubject{
    background: #fff;
    color: brown;
    font-weight: 600;
    width: 120px;
    border: 1px solid black;
    font-size: medium;
    padding: 8px;
    margin: 10px 0;
    margin-left: 10px; 
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
}
#teacherProcess{
    background: #fff;
    color: brown;
    font-weight: 600;
    width: 220px;
    border: 1px solid black;
    font-size: medium;
    padding: 8px;
    margin: 10px 0;
    margin-left: 10px; 
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
}
#submitbut{
    background:plum;
    color: black;
    font-size: medium;
    width: 170px;
    font-weight:800;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-left: 180px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: width 1s ;
}