body{
    background-color:plum;
}
 .teacher{
    background: #fff;
    margin: 50%;
    max-width: 500px;
    margin:70px auto 0;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 30px;

}
#head{
    text-align: center; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    background: skyblue;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  margin-top: 8%;
  margin-left: 10%;
  font-family: Circular,Helvetica,sans-serif;
  font-size:20px;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .505rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}